# Exemplo de variáveis de ambiente
PORT=4000
NODE_ENV=development

# String de conexão Postgres
# Ex: postgres://user:senha@localhost:5432/erp_db
DATABASE_URL=postgres://postgres:1234@localhost:5432/erp_db

# Secret para JWT (MUDE ISTO EM PRODUÇÃO!)
JWT_SECRET=sua_chave_secreta_muito_longa_e_aleatoria_aqui
